<div class="topbar">
    <div class="menu">
        <div class="menu-item {% if act=='tables' %}active-menu-item{% endif %}"><a href="/tables">Tables</a></div>
        <div class="menu-item {% if act=='history' %}active-menu-item{% endif %}"><a href="/history">Match history</a></div>
        <div class="menu-item {% if act=='friends' %}active-menu-item{% endif %}"><a href="/friends">Friends</a></div>
        <div class="menu-item {% if act=='transactions' %}active-menu-item{% endif %}"><a href="/transactions">Transactions</a></div>
        <div class="menu-item"><a href="/logout">Log out</a></div>
    </div>
    <div class="namelabel">Uselfiayuefr: {{ usr }} | Coins: {{ bal }}</div>
</div>