<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
    <title>Micro Hold'em</title>
</head>
<body>
    <div class="content-wrapper">
        <h1>Create an account!</h1>
        <div class="login-form">
            <form action="" method="POST">
                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password"/>
                <button type="submit">Create account</button>
                <p><a href="login">Already have an account? Sign in</a></p>
            </form>
        </div>
    </div>
    
</body>
</html>