<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <title>Micro Hold'em</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function f() {
            $.ajax({
                url: 'http://0.0.0.0:4200/create-private-game',
                type: "POST",
                success: function (data) {
                    swal('Your private game code is ' + data)
                }, 
                error: function(xhr, status, error) {
                    alert(xhr);
                    alert(status);
                    alert(error);
                }
            });
        }

        function join() {
            window.location.href = "/game/" + document.getElementById("joinPriv").value
        }
    </script>
</head>
<body>
    {% include 'topbar.html' %}
    <div id="content" style="cursor: pointer">
        {% for game in games %}
            <div onclick="window.location.href='/game/{{game.gameID}}'">
                Table {{game.gameID}}
                [
                {% for name in game.playerNames %}
                    {{name}}
                {% endfor %}
                ]
                ({{game.playerNames|length}} players)
            </div>
        {% endfor %}
        <button onclick=f()>create private game</button>
        <input type="text" id="joinPriv" placeholder="Code">
        <button id="joinPrivButton" onclick=join()>Join game</button>
    </div>
</body>
</html>